<ion-view title="Об авторе">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/6RgF8igFQk2VuKYkTkFM.png" width="100%" height="auto">
        </div>
        <div class="list card">
            <div class="item item-divider">Якубович Иван</div>
            <div class="item item-body"></div>
            <div class="item item-divider">ivan.yakubovich@gmail.com</div>
        </div>
    </ion-content>
</ion-view>