<ion-view title="Расход">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="side-menu21.page4" id="page1-button10" class="button button-positive  button-block icon-left ion-android-car">Транспорт</a>
        <a ui-sref="side-menu21.page5" id="page1-button11" class="button button-positive  button-block icon-left ion-ios-cart">Продукты</a>
        <a ui-sref="side-menu21.page6" id="page1-button12" class="button button-positive  button-block icon-left ion-android-happy">Развлечения</a>
        <a ui-sref="side-menu21.page7" id="page1-button13" class="button button-positive  button-block icon-left ion-android-favorite">Здоровье</a>
        <a ui-sref="side-menu21.page8" id="page1-button14" class="button button-positive  button-block icon-left ion-ios-body">Одежда</a>
        <a ui-sref="side-menu21.page9" id="page1-button15" class="button button-positive  button-block icon-left ion-android-call">Связь и Интернет</a>
        <a ui-sref="side-menu21.page10" id="page1-button16" class="button button-positive  button-block icon-left ion-ios-home">Недвижимость</a>
    </ion-content>
</ion-view>