<ion-view title="Связь и Интернет">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Сумма</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Дата</span>
                    <input type="month" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="page9-button27" class="button button-balanced  button-block icon-left ion-android-checkmark-circle">Добавить</button>
            <a ui-sref="side-menu21.page1" id="page9-button28" class="button button-assertive  button-block button-clear">Отмена</a>
        </form>
    </ion-content>
</ion-view>